/* Link for "Forgot Password?" */

.auth-link {
  font-size: 13px;
  color: #00376b;
  text-decoration: none;
  margin-top: 24px;
  transition: color 0.2s ease-in-out;
}

.auth-link:hover {
  text-decoration: underline;
  color: #0056a3;
}

.switch-auth-button {
  width: 100%;
  margin-top: 10px;
  font-weight: 600 !important;
}

.auth-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  margin-bottom: 16px;
}

.auth-label-enter-otp {
  margin-bottom: 0px;
}
