#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-content-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .main-content-container {
    padding: 0 2rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-accent {
  color: var(--accent-color);
}
